parking_lot_width = 800px
parking_lot_height = 600px
parking_lot_bg_color = #1f1f1f

parking_border_width = 5px
parking_slot_border_width = 10px
parking_block_width = 50px
parking_block_border_color = #fff
parking_slot_border_color = #f2ff00
parking_block_bg_color = #000

vertical_block_height = 200px

parking_slot_width = (parking_lot_width - parking_block_width*2)/5

body
	display flex
	justify-content center
	background-color #42f474

#parking_lot
	background-color parking_lot_bg_color
	border-radius 10px
	height parking_lot_height
	position relative
	margin-top 2.5em
	width parking_lot_width
	z-index -2
	div
		position absolute	

.vertical_thing
	background-color parking_block_bg_color
	height vertical_block_height
	width parking_block_width
	border parking_block_border_color solid
	z-index -1
	&.top-left
		border-radius 10px 0px 0px 0px
		top 0px
		left 0px
		border-width 0px parking_border_width parking_border_width 0px
	&.bottom-left
		border-radius 0px 0px 0px 10px
		bottom 0px
		left 0px
		border-width parking_border_width parking_border_width 0px 0px
	&.top-right
		border-radius 0px 10px 0px 0px
		top 0px
		right 0px
		border-width 0px 0px parking_border_width parking_border_width
	&.bottom-right
		border-radius 0px 0px 10px 0px
		bottom 0px
		right 0px
		border-width parking_border_width 0px 0px parking_border_width

.door
	background repeating-linear-gradient(45deg, #daf30a, #716b06 10px, #000000 10px, #000000 20px)
	height 165px
	top 200px
	width 18px
	border-radius 0 0 20px 20px
	&.opened
		opacity 0.3

.door-exit
	background repeating-linear-gradient(45deg, #daf30a, #716b06 10px, #000000 10px, #000000 20px)
	height 165px
	top 200px
	right 0
	width 18px
	border-radius 0 0 20px 20px
	&.opened
		opacity 0.3


.horizontal_thing
	background-color parking_block_bg_color
	width parking_lot_width - parking_block_width*2 + parking_border_width*2
	height parking_block_width
	left parking_block_width - parking_border_width
	border parking_block_border_color solid
	z-index 1
	&.top
		top 0px
		border-width 0px 0px parking_border_width 0px
	&.bottom
		bottom 0px
		border-width parking_border_width 0px 0px 0px

#parking_slot_top
	border parking_slot_border_color solid
	border-width 0px parking_slot_border_width 0px 0px	
	top parking_block_width
	width parking_slot_width
	height vertical_block_height - parking_block_width
	
	.car-slot
		background-image url('../img/car.png')
		background-size 175px 102px
		display none
		height 102px
		left -20px
		top 44px
		transform rotate(-90deg)
		width 175px
		&.fill
			display inherit !important
		
	&.slot-1
		left parking_block_width

	&.slot-2
		left parking_block_width + parking_slot_width
	&.slot-3
		left parking_block_width + parking_slot_width*2
	&.slot-4
		left parking_block_width + parking_slot_width*3
		
#parking_slot_bottom
	border parking_slot_border_color solid
	border-width 0px parking_slot_border_width 0px 0px	
	bottom parking_block_width
	width parking_slot_width
	height vertical_block_height - parking_block_width
	
	.car-slot
		height 102px
		width 175px
		background-image url('../img/car.png')
		background-size 175px 102px
		display none
		transform rotate(-90deg)
		left -20px
		top 12px
		z-index 1
		&.fill
			display inherit !important

	&.slot-1
		left parking_block_width
	&.slot-2
		z-index 2
		left parking_block_width + parking_slot_width
	
		.sky
			background parking_slot_border_color
			width 100%
			height 100%
			z-index 2
		
		.car-slot
			z-index 1
			
	&.slot-3
		left parking_block_width + parking_slot_width*2
	&.slot-4
		left parking_block_width + parking_slot_width*3

		
.decorators-c
	position relative
	height 100%
	width 100%
	
	.top-dec
		position absolute
		background-color #000
		top 0
		right -10px
		width 10px
		height 23px
	
	.bott-dec
		position absolute
		background-color #000
		bottom 0
		right -10px
		width 10px
		height 23px

.slots-counter
	position absolute
	left 21px
	top 40px
	
	.slots-container
		position relative
		height 200px
		width 230px
		
		div
			position absolute
		
		.support-thing
			border-radius 25px
			left 0
			background #000
			width 10%
			height 100%
			top 20px
			
			.top-dec
				background #000
				border-radius 25px 0 0 25px
				height 30px
				width 60px
				left -10px
			
			.medium-dec
				background #000
				border-radius 25px 0 0 25px
				height 30px
				width 60px
				left -10px
				top 90px
			
			.bottom-dec
				background #000
				border-radius 25px
				height 30px
				width 60px
				bottom 0
				left -37px
		
		.slots-screen
			background #114ddc
			border-radius 10px
			border 1px solid #000000b3
			left 20%
			width 80%
			height 80%

			.top-screen
				top 0
				padding 0 7px
				
				h4
					border-radius 5px
					color #fff
					font-weight 600
					padding 12px
					border 2px solid #fff
					text-align center
					line-height 22.5px
					
			
			.bottom-screen
				padding 0 7px
				bottom 0px
				
				h4
					font-size 30px
					font-weight 800
					border-radius 6px
					color #f46b6d
					background #000
					height 60px
					width 167px
					text-align center
					padding 12px

.barcode-counter
	position absolute
	left 21px
	top 420px
	
	.barcode-container
		position relative
		height 200px
		width 230px
		
		div
			position absolute
		
		.support-thing
			border-radius 25px
			left 0
			background #000
			width 10%
			height 100%
			top 20px
			
			.top-dec
				background #000
				border-radius 25px 0 0 25px
				height 30px
				width 60px
				left -10px
			
			.medium-dec
				background #000
				border-radius 25px 0 0 25px
				height 30px
				width 60px
				left -10px
				top 90px
			
			.bottom-dec
				background #000
				border-radius 25px
				height 30px
				width 60px
				bottom 0
				left -37px
		
		.barcode-screen
			background #114ddc
			border-radius 10px
			border 1px solid #000000b3
			left 20%
			width 80%
			height 80%

			.top-screen
				top -20px
				padding 0 7px
				
				input
					height 60px
					margin-top 30px
					
			
			.bottom-screen
				padding 0 7px
				bottom 15px

				button
					height 60px
					width 167px


.options-container
	position absolute
	right 35px
	width 200px
	height 400px
	
	.options-r
		position relative
		
		.top-dec
			position absolute
			top 0
			height 50px
			width 100%
			
			.bar
				background #000
				position absolute
				height 50px
				width 25px
			
			.top-bar-1
				left 47px
			
			.top-bar-2
				left 87px
				
			.top-bar-3
				left 126px
		
		.options-menu
			background #a0a0a0
			position absolute
			top 50px
			width 100%
			height 300px
			
			.border-1
				border-top 2px solid #000
				border-bottom 2px solid #000
				border-left 5px solid #000
				border-right 5px solid #000
				height 300px
				width 100%
				padding 10px
		
			.border-2
				background #8c8a8a
				border-top 3px solid #000
				border-bottom 2px solid #000
				border-left 2px solid #000
				border-right 2px solid #000
				height 275px
				width 100%
				padding 5px
				
			.border-3
				background #676464
				border-top 4px solid #000
				border-left 4px solid #000
				border-right 2px solid #000
				border-bottom 2px solid #000
				height 258px
				width 100%
				
				.lights-c
					h3
						color #ffffffba
						font-size 17px
						text-align center
						width 100%
						
					.lights-t
						background #484848
						border-radius 6px
						border-top 1px solid #000
						border-left 1px solid #000
						border-right 3px solid #000
						border-bottom 3px solid #000
						height 18px
						width 70px
						left 0
						right 0
						margin auto
						position relative
						
						.lights-slide
							border 1px solid #000
							border-radius 6px
							background #fff
							position absolute
							height 25px
							width 10px
							top -5px
							left 10px
							
							&.opened
								left 50px !important
						
				
				.door-c
					h3
						color #ffffffba
						font-size 17px
						text-align center
						width 100%
					
					button
						background #c10303
						border-radius 25px
						position absolute
						height 35px
						width 35px
						left 0
						right 0
						margin auto

				.door-1-c
					margin-top 10px

				.door-2-c
					margin-top 60px
				
.stick-lights
	top 0
	left 0
	right 0
	margin auto
	width 100%
	height 100%
	z-index 2
	
	.light
		background #fff
		border-radius 20px
		height 25px
		width 25px
		
		&.on
			border 4px solid red
			
	
	.bottom-lights
		height 30px
		width 555px
		position absolute
		bottom 10px
		margin-right auto
		left 50px
		
		.light-1
			left 190px
			
		.light-2
			left 330px
			
		.light-3	
			left 470px

	
	.top-lights
		height 30px
		width 555px
		position absolute
		top 10px
		margin-right auto
		left 50px
		
		.light-1
			left 55px
		
		.light-2
			left 190px
			
		.light-3
			left 330px
			
		.light-4	
			left 470px
		


		
				