parking_lot_width = 800px
parking_lot_height = 600px
parking_lot_bg_color = #a0a0a0

parking_border_width = 5px
parking_block_width = 50px
parking_block_border_color = #fff
parking_block_bg_color = #42f474

vertical_block_height = 200px

parking_slot_width = (parking_lot_width - parking_block_width*2)/5

body
	display flex
	justify-content center
	background-color #42f474

#parking_lot
	width parking_lot_width
	height parking_lot_height
	position relative
	background-color parking_lot_bg_color
	z-index -2
	div
		position absolute	

.vertical_thing
	background-color parking_block_bg_color
	height vertical_block_height
	width parking_block_width
	border parking_block_border_color solid
	z-index -1
	&.top-left
		top 0px
		left 0px
		border-width 0px parking_border_width parking_border_width 0px
	&.bottom-left
		bottom 0px
		left 0px
		border-width parking_border_width parking_border_width 0px 0px
	&.top-right
		top 0px
		right 0px
		border-width 0px 0px parking_border_width parking_border_width
	&.bottom-right
		bottom 0px
		right 0px
		border-width parking_border_width 0px 0px parking_border_width

.horizontal_thing
	background-color parking_block_bg_color
	width parking_lot_width - parking_block_width*2 + parking_border_width*2
	height parking_block_width
	left parking_block_width - parking_border_width
	border parking_block_border_color solid
	z-index 1
	&.top
		top 0px
		border-width 0px 0px parking_border_width 0px
	&.bottom
		bottom 0px
		border-width parking_border_width 0px 0px 0px

#parking_slot_top
	border parking_block_border_color dashed
	border-width 0px parking_border_width 0px 0px	
	top parking_block_width
	width parking_slot_width
	height vertical_block_height - parking_block_width
	&.slot-1
		left parking_block_width
	&.slot-2
		left parking_block_width + parking_slot_width
	&.slot-3
		left parking_block_width + parking_slot_width*2
	&.slot-4
		left parking_block_width + parking_slot_width*3